<nb-layout center>
    <nb-layout-header fixed withScroll class="main-navbar">
        <div class="header-container hidden-print">
            <div class="logo-container">
                <nb-user class='user-profile' name="Mohit Bhole" title="Software Engineer"></nb-user>
            </div>
        </div>

        <div class="header-container another-header">
            <nb-actions [size]="size">
                <nb-action class="control-item" large [routerLink]="['/home']">Home</nb-action>
                <nb-action class="control-item" [routerLink]="['/projects']">Projects</nb-action>
                <nb-action class="control-item" [routerLink]="['/resume']">Resume</nb-action>
                <nb-action class="control-item" [routerLink]="['/photos']">Gallery</nb-action>
                <nb-action class="control-item" [routerLink]="['/contact']">Contact</nb-action>
                <nb-action class="control-item" (click)="themeSwitch()"><img class="favicon" src="assets/requiredassets/theme-small.png"/></nb-action>
            </nb-actions>
        </div>
    </nb-layout-header>

    <nb-layout-column>

        <router-outlet></router-outlet>
    </nb-layout-column>

</nb-layout>