<nb-actions [size]="size">
    <nb-action class="control-item" large [routerLink]="['/home']">Home</nb-action>
    <nb-action class="control-item" [routerLink]="['/projects']">Projects</nb-action>
    <nb-action class="control-item" [routerLink]="['/resume']">Resume</nb-action>
    <nb-action class="control-item" [routerLink]="['/contact']">Contact</nb-action>
    <nb-action class="control-item" (click)="themeSwitch()"><img class="favicon"
            src="assets/requiredassets/theme-small.png" /></nb-action>
</nb-actions>