<div class='wrap horizontal space-between'>
    <div class="space-between">
        <div class="horizontal">
            <p class="huge bold" [style.font-size]="isMobile ? '3rem' : '5rem'">Hello </p>
            <img [style.max-height]="isMobile ? '3rem' : '5rem'" src="assets/requiredassets/hand.png" class='wave' />
        </div>
        <p class="medium negativepadding alttextcolor">Welcome to my portfolio!</p>
        <p  [style.font-size]="isMobile ? '2rem' : '3rem'" class="giant end">{{userprofile.homehellointro}}</p>
    </div>
    <img src="assets/images/{{userprofile.homeprofilepiclink}}" class='coder' />
</div>

<div class="bottompadding">

    <div class="horizontal nopadding">
        <span class="tw chonky" #tw> </span>
        <span class="tw chonky" #tw2></span>
    </div>
    <p class='large nopadding homeintro lightweight alttextcolor'>{{userprofile.homeintro}}</p>
</div>

<div class="horizontal wrap toppadding center-children skill-logos">
    <div class="" *ngFor="let image of this.logos">
        <img class="skill-logo horizontalpadding" src='{{image}}' />
    </div>
</div>

<div class="horizontal center-children">
    <p class="alttextcolor huge nopadding">...</p>
</div>

<div class="horizontal wrap verticalpadding">
    <p class="huge bold" [style.font-size]="isMobile ? '3rem' : '5rem'">Experience </p>
</div>
<div class="bottompadding">
    <div class="experience-card" *ngFor="let exp of userprofile.experience">
        <nb-card>
            <nb-card-body>
                <div class="horizontal space-between">
                    <p>{{exp.positiontitle}}</p>
                    <p class="text-align-right">{{exp.company}}</p>
                </div>
                <p>{{exp.timeperiod}}</p>
                <p>{{exp.bullet1}}</p>
            </nb-card-body>
        </nb-card>
    </div>
</div>